DATABASE_URL=your-database-url
JWT_SECRET=your-jwt-secret-key
GEMINI_API_KEY=your-gemini-api-key
PORT=3000



EMAIL_USER=your-email
EMAIL_PASSWORD=your-email-password
RABBITMQ_URL=your-rabbitmq-url

REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_USERNAME=default
REDIS_PASSWORD=your-redis-password


MINIO_ACCESS_KEY=your-minio-access-key

MINIO_SECRET_KEY=your-minio-secret-key

MINIO_BUCKET=yousuf-synapse-storage
MINIO_REGION=auto
MINIO_ENDPOINT=your-minio-endpoint-url